In [1]:
%load_ext sql

In [2]:
%sql postgresql://hamlet:2Bornot@/shakes

'Connected: hamlet@shakes'

In [3]:
%sql select * from work limit 5

5 rows affected.

[('12night', 'Twelfth Night', 'Twelfth Night, Or What You Will', 1599, 'c', None, 'Moby', 19837, 1031),
 ('allswell', "All's Well That Ends Well", "All's Well That Ends Well", 1602, 'c', None, 'Moby', 22997, 1025),
 ('antonycleo', 'Antony and Cleopatra', 'Antony and Cleopatra', 1606, 't', None, 'Moby', 24905, 1344),
 ('asyoulikeit', 'As You Like It', 'As You Like It', 1599, 'c', None, 'Gutenberg', 21690, 872),
 ('comedyerrors', 'Comedy of Errors', 'The Comedy of Errors', 1589, 'c', None, 'Moby', 14692, 661)]

[18F Laptop script](https://github.com/18f/laptop)

`curl -s https://raw.githubusercontent.com/18F/laptop/master/seekrets-install | bash -`

[Fine then, inspect it.](https://github.com/18F/laptop/blob/master/seekrets-install)