In [1]:
%load_ext sql

In [2]:
%sql postgresql://hamlet:2Bornot@/shakes

'Connected: hamlet@shakes'

In [4]:
%sql select * from work limit 3

3 rows affected.

[('12night', 'Twelfth Night', 'Twelfth Night, Or What You Will', 1599, 'c', None, 'Moby', 19837, 1031),
 ('allswell', "All's Well That Ends Well", "All's Well That Ends Well", 1602, 'c', None, 'Moby', 22997, 1025),
 ('antonycleo', 'Antony and Cleopatra', 'Antony and Cleopatra', 1606, 't', None, 'Moby', 24905, 1344)]

[18F Laptop script](https://github.com/18f/laptop)

`curl -s https://raw.githubusercontent.com/18F/laptop/master/seekrets-install | bash -`

[Fine then, inspect it.](https://github.com/18F/laptop/blob/master/seekrets-install)

In [ ]:
import re

In [ ]:
haspw = 'postgresql://hamlet:2Bornot@host.db/db'

In [ ]:
re.search(r'\w+://\w+:\w+@\S+', haspw)